.status.pending {
  color: orange;
  background-color: #fff4e5;
  padding: 10px 20px;
  border: 1px solid #f0ad4e;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  width: 100%;
}

.status.accepted {
  color: green;
  background-color: #e6fbe9;
  padding: 10px 20px;
  border: 1px solid #9be3a5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  width: 100%;
}

.status.rejected {
  color: red;
  background-color: #fdecea;
  padding: 10px 20px;
  border: 1px solid #e38a8a;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  width: 100%;
}

.btn-approve {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-approve:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn-reject {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn-reject:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.companions-full {
  width: 100%;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 15px;
  box-sizing: border-box;
}

.companions-full ul {
  margin: 0;
  padding-left: 20px; 
}

.ticket-container.blurred {
  filter: blur(5px);
  pointer-events: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 15px;
  width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal textarea {
  width: 100%;
  background-color: white;
  color: black;
  min-height: 80px;
  margin-top: 8px;
  padding: 8px;
  resize: none;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.modal-buttons button {
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:first-child {
  background-color: #d9d9d9;
  color: #002B6E;
}

.modal-buttons button:last-child {
  background-color: #002B6E;
  color: white;
}

.note-icon-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  color: inherit;
}

.note-icon-btn:hover {
  transform: scale(1.1);
}
